In [18]:
# Import dependencies
import pandas as pd
import numpy as np

In [19]:
# Read the data into a Pandas DataFrame
aids_df = pd.read_csv('Resources/AIDS_Classification.csv')
aids_df.head()

,time,trt,age,wtkg,hemo,homo,drugs,karnof,oprior,z30,...,str2,strat,symptom,treat,offtrt,cd40,cd420,cd80,cd820,infected
0,948,2,48,89.8128,0,0,0,100,0,0,...,0,1,0,1,0,422,477,566,324,0
1,1002,3,61,49.4424,0,0,0,90,0,1,...,1,3,0,1,0,162,218,392,564,1
2,961,3,45,88.4520,0,1,1,90,0,1,...,1,3,0,1,1,326,274,2063,1893,0
3,1166,3,47,85.2768,0,1,0,100,0,1,...,1,3,0,1,0,287,394,1590,966,0
4,1090,0,43,66.6792,0,1,0,100,0,1,...,1,3,0,0,0,504,353,870,782,0

In [20]:
# Get a brief summary(number of rows, columns, and datatypes) of the aids_df DataFrame.
aids_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2139 entries, 0 to 2138
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time      2139 non-null   int64
 1   trt       2139 non-null   int64
 2   age       2139 non-null   int64
 3   wtkg      2139 non-null   float64
 4   hemo      2139 non-null   int64
 5   homo      2139 non-null   int64
 6   drugs     2139 non-null   int64
 7   karnof    2139 non-null   int64
 8   oprior    2139 non-null   int64
 9   z30       2139 non-null   int64
 10  preanti   2139 non-null   int64
 11  race      2139 non-null   int64
 12  gender    2139 non-null   int64
 13  str2      2139 non-null   int64
 14  strat     2139 non-null   int64
 15  symptom   2139 non-null   int64
 16  treat     2139 non-null   int64
 17  offtrt    2139 non-null   int64
 18  cd40      2139 non-null   int64
 19  cd420     2139 non-null   int64
 20  cd80      2139 non-null   int64
 21  cd820     2139 non-null   int64
 22  infected  2139 non-null   int64
dtypes: float64(1), int64(22)
memory usage: 384.5 KB

In [21]:
# Rename the columns
aids_df.rename(columns={'trt': 'treatment', 'wtkg': 'weight', 'hemo': 'hemophilia','homo': 'homosexual_activity', 'karnof': 'karnofsky_score', 'oprior': 'therapy_prior','z30': 'ZDV_last_30days', 'preanti': 'prior_ART_length', 'str2': 'ART_history','strat': 'ART_history_stratified', 'treat': 'ZDV_only_treatment', 'offtrt': 'off_treatment', 'cd40': 'cd4_base', 'cd420': 'cd4_20wks', 'cd80': 'cd8_base', 'cd820': 'cd8_20wks'}, inplace=True)
aids_df.head()

,time,treatment,age,weight,hemophilia,homosexual_activity,drugs,karnofsky_score,therapy_prior,ZDV_last_30days,...,ART_history,ART_history_stratified,symptom,ZDV_only_treatment,off_treatment,cd4_base,cd4_20wks,cd8_base,cd8_20wks,infected
0,948,2,48,89.8128,0,0,0,100,0,0,...,0,1,0,1,0,422,477,566,324,0
1,1002,3,61,49.4424,0,0,0,90,0,1,...,1,3,0,1,0,162,218,392,564,1
2,961,3,45,88.4520,0,1,1,90,0,1,...,1,3,0,1,1,326,274,2063,1893,0
3,1166,3,47,85.2768,0,1,0,100,0,1,...,1,3,0,1,0,287,394,1590,966,0
4,1090,0,43,66.6792,0,1,0,100,0,1,...,1,3,0,0,0,504,353,870,782,0

In [22]:
# Get the columns names
print(aids_df.columns.to_list())

['time', 'treatment', 'age', 'weight', 'hemophilia', 'homosexual_activity', 'drugs', 'karnofsky_score', 'therapy_prior', 'ZDV_last_30days', 'prior_ART_length', 'race', 'gender', 'ART_history', 'ART_history_stratified', 'symptom', 'ZDV_only_treatment', 'off_treatment', 'cd4_base', 'cd4_20wks', 'cd8_base', 'cd8_20wks', 'infected']

In [23]:
# # Format the time column to datetime format
# from datetime import datetime as dt

# aids_df['time'] = pd.to_datetime(aids_df['time'], unit='s').dt.strftime('%y-%m-%d')

In [24]:
# # Convert the 'time' column to datetime format
# aids_df['time'] = pd.to_datetime(aids_df['time'], unit='s', errors='coerce')

# # Format the datetime column as needed
# aids_df['time'] = aids_df['time'].dt.strftime('%y-%m-%d')
# aids_df.head(20)

In [25]:
aids_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2139 entries, 0 to 2138
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   time                    2139 non-null   int64
 1   treatment               2139 non-null   int64
 2   age                     2139 non-null   int64
 3   weight                  2139 non-null   float64
 4   hemophilia              2139 non-null   int64
 5   homosexual_activity     2139 non-null   int64
 6   drugs                   2139 non-null   int64
 7   karnofsky_score         2139 non-null   int64
 8   therapy_prior           2139 non-null   int64
 9   ZDV_last_30days         2139 non-null   int64
 10  prior_ART_length        2139 non-null   int64
 11  race                    2139 non-null   int64
 12  gender                  2139 non-null   int64
 13  ART_history             2139 non-null   int64
 14  ART_history_stratified  2139 non-null   int64
 15  symptom                 2139 non-null   int64
 16  ZDV_only_treatment      2139 non-null   int64
 17  off_treatment           2139 non-null   int64
 18  cd4_base                2139 non-null   int64
 19  cd4_20wks               2139 non-null   int64
 20  cd8_base                2139 non-null   int64
 21  cd8_20wks               2139 non-null   int64
 22  infected                2139 non-null   int64
dtypes: float64(1), int64(22)
memory usage: 384.5 KB

In [26]:
# Reorder the columns
column_order = ['treatment', 'ZDV_only_treatment','off_treatment', 'time','age', 'weight', 'hemophilia','homosexual_activity', 'drugs','race', 'gender', 'karnofsky_score','therapy_prior','ZDV_last_30days', 'prior_ART_length', 'ART_history','ART_history_stratified', 'symptom', 'cd4_base','cd4_20wks', 'cd8_base', 'cd8_20wks','infected']
aids_df = aids_df[column_order]
aids_df.head()

,treatment,ZDV_only_treatment,off_treatment,time,age,weight,hemophilia,homosexual_activity,drugs,race,...,ZDV_last_30days,prior_ART_length,ART_history,ART_history_stratified,symptom,cd4_base,cd4_20wks,cd8_base,cd8_20wks,infected
0,2,1,0,948,48,89.8128,0,0,0,0,...,0,0,0,1,0,422,477,566,324,0
1,3,1,0,1002,61,49.4424,0,0,0,0,...,1,895,1,3,0,162,218,392,564,1
2,3,1,1,961,45,88.4520,0,1,1,0,...,1,707,1,3,0,326,274,2063,1893,0
3,3,1,0,1166,47,85.2768,0,1,0,0,...,1,1399,1,3,0,287,394,1590,966,0
4,0,0,0,1090,43,66.6792,0,1,0,0,...,1,1352,1,3,0,504,353,870,782,0

In [27]:
# Export the DataFrame as a CSV file. 
aids_df.to_csv("Resources/AIDS_Classifications_cleaned.csv", index=True, index_label="ID")